---
// src/components/Section.astro
const { id, title, parallax, img } = Astro.props;
---
<section id={id} class={`section fade-in ${parallax ? 'parallax' : ''}`} style={parallax ? `background-image:url(${img})` : ''}>
  <h1>{title}</h1>
</section>

<style>
  .section {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
  }

  .parallax {
    background-size: cover;
    background-position: center;
    color: white;
  }
</style>